nav {
  margin: 0;
  padding: 0;
  background-color: #F2E8CF !important;
  color: #295151;
  border-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #295151;
}

.nav-link{
  color: #295151;
  margin-right: 20px;
}

.nav-link:hover{
  color: #9c6c6c;
}

.active{
  color: #805858;
}
.navbar-toggler-icon{
  color:#295151;
}