* {
  font-family: 'Playfair Display', serif;
}

body{
  background-color: #FFFFFB; 
}

body, * {
  margin: 0 40px;
  box-sizing: border-box;
 
}

@media   (max-width: 1000px) {
    body, * {
      margin: 0 10px;
    }
   
  }

